@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@900&display=swap");
.s-a-main {
  min-height: 100vh;
  background-image: url("../../images/img1.png");
  background-size: cover;
}
.s-a-img {
  width: 80%;
  height: 350px;
  margin-left: 20%;
}
.s-a-title {
  font-size: 2.4rem;
  font-weight: 1000;
  margin: 1.5rem 0rem;
  text-align: center;
  margin-top: 4rem;
  font-family: "Philosopher", sans-serif;
}

.s-a-domain {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}
.hash-c {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hash-box {
  padding: 0.5rem 1rem;
  height: auto;
  width: auto;
  margin-left: 5%;
  background: rgba(3, 88, 84, 0.534);
  display: inline-block;
  color: white;
  font-family: "Philosopher", sans-serif;
}

.s-a-author {
  text-align: right;
  font-size: 1rem;
  font-style: italic;
  margin-top: -2rem;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
}
.a-row {
  margin-top: 5rem;
  padding: 0rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Philosopher", sans-serif;
}

.duration {
  text-align: right;
  padding-right: 1rem;
}

.a-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: "Raleway", cursive;

  font-size: 1.1rem;
  text-align: justify;
  padding: 1.5rem 10rem;
  margin-left: -0.5rem;
  padding-top: 2.5rem;
}

.a-content h1,
.a-content h2,
.a-content h3 {
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
}
.d-clock {
  margin-top: -0.2rem;
}

.all-b {
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  background-color: rgba(3, 88, 84, 0.534);
  color: white;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-family: "Philosopher", sans-serif;
}
.comment-c {
  width: 100%;
  /* min-height: 100vh; */
}

.l-i {
  height: 260px;
  width: auto;
  position: absolute;
  left: 2rem;
  margin-top: 15rem;
}

.r-i {
  height: 320px;
  width: auto;
  position: absolute;
  right: 2rem;
  margin-top: 13rem;
}

.a-content img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: auto;
}

.s-a-domain {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 520px) {
  .comment-c {
    width: 95vw;
    margin-left: 2.5vw;
  }
  .s-a-main {
  }
  .s-a-img {
    width: 90%;
    margin-left: 5%;
    height: 250px;
    border-radius: 20px;
    margin-top: 1.5rem;
  }
  .a-content img {
    width: 60vw;
  }
  .s-a-title {
    font-size: 1.5rem;
    font-weight: 1000;
    margin: 1.5rem 0rem;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    margin-top: 2rem;
  }

  .s-a-author {
    text-align: right;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: -1.6rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }
  .s-a-domain {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    /* font-style: italic; */
    font-family: "Philosopher", sans-serif;
  }
  .hash-box {
    font-size: 0.8rem;
  }
  .a-row {
    width: 100%;
    margin-top: 2.5rem;
    padding: 0;
  }
  .date {
    width: 60%;
    font-size: 0.9rem;
    padding: 0;
    padding-left: 0.5rem;
  }
  .duration {
    width: 40%;
    font-size: 0.9rem;
    padding-right: 0.5rem;
  }
  .a-content {
    font-family: "Raleway", cursive;

    font-size: 0.85rem;
    text-align: justify;
    padding: 1.5rem 5%;
    margin-left: -0.5rem;
    padding-top: 2.5rem;
  }

  .all-b {
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    background-color: rgba(3, 88, 84, 0.534);
    color: white;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }
}
