@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.outer-article-container {
  display: flex;
  justify-content: center;
}
.single-article-container {
  width: 50rem;
  display: inline-block;
}

.icons {
  height: 522px;
  display: flex;
  flex-direction: column;
  width: 10rem;
  position: fixed;
  right: 4rem;
  top: 15rem;
}

.image {
  width: 752px;
  height: 394.8px;
  background-image: url("./gender.png");
  background-position: center;
  background-size: 100% 100%;
}

.article-title {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.9rem;
  padding-top: 2.7rem;
  font-weight: 870;
  padding-bottom: 2rem;
  color: black;
  width: 752px;
}

.article-content {
  color: black;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  margin-top: 1.5rem;
}
.article-content h1{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0rem;
}

.share {
  background-color: red;
}

.share-button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.7);
  border: none;
  transition: 0.6s;
}
.share-icon {
  font-size: 1.4rem;
  color: #171717;
  margin-top: 0.5rem;
  margin-left: -0.2rem;
}
.share-button:focus {
  outline: none;
}
.share-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
}
.share-button:hover .share-icon {
  color: #171717;
}
.tag-box {
  background-color: rgb(0, 0, 255, 0.5);
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.6rem;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin-left: -0.6rem;
  margin-right: 1.5rem;
  font-weight: 600;
}
.tag-box:hover {
  background-color: rgba(0, 0, 255, 0.8);
  transform: scale(1.08); /* Equal to scaleX(0.7) scaleY(0.7) */
}
.hash-container {
  text-align: left;
  padding-bottom: 1rem;
}

.copy-modal {
  padding: 2rem;
}
.copy-input {
  width: 70%;
  background-color: rgba(133, 131, 131, 0.5);
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Courier New", Courier, monospace;
  height: 2.5rem;
}
.copy-button {
  width: 25%;
  margin-left: 1rem;
  opacity: 0.8;
  border: none;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-family: Helvetica, sans-serif;
  transition: 0.5s;
}
.copy-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.copy-button:focus {
  outline: none;
}
.shareto {
  color: white;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  padding: 1rem;
}
.social-button {
  font-size: 2rem;
  background: transparent;
  border: none;
}
.share-buttons {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.social-button:hover {
  cursor: pointer;
}
.social-button:focus {
  outline: none;
}
.whatsapp {
  color: green;
}
.fb {
  color: rgb(32, 68, 185);
}
.linkedin {
  color: rgb(25, 161, 206);
}

.like-icons {
  color: grey;
  margin-top: 2rem;
}

p {
  font-size: 1.3rem;
  word-spacing: 5px;
  font-family: "Lora", serif;
}

@media only screen and (max-width: 1280px) {
  .icons {
    display: none;
  }

  .article-title {
    font-size: 2.2rem;
  }
}
.img-article {
  width: 50rem;
  height: 24rem;
  border: 1px solid black;
}
.img-article img {
  width: 100%;
  margin: 1rem 0rem;
  height: 24rem;
}
.author-image {
  display: inline;
}

.author-details {
  display: inline;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.initials-button-2 {
  border-radius: 50%;
  border: none;
  background-color: rgb(3, 35, 94);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 0px;
}

.author-container {
  padding-bottom: 1rem;
  color: black;
  height: 7rem;
  border: 2px solid white;
  border-right: none;
  border-left: none;
}

.author-container-name {
  font-weight: 800;
  font-size: 1.3rem;
}

.author-container-date {
  font-weight: 500;
  color: grey;
}
h3 {
  margin-top: 3rem;
}

.article-card-container {
  width: 100%;
  background-color: #f2f3f6;
}
.article-card-container {
  width: 100%;
  background-color: #f2f3f6;
}

.comment-container {
  background-color: #f2f3f6;
  width: 60rem;
  margin: 2rem 0rem;
  margin-left: calc(50% - 30rem);
  padding: 1rem;
  border-radius: 15px;
}

.comment-header {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}
.comment-box {
  background-color: white;
  width: 50%;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.comment-user {
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.comment-message {
  font-size: 18px;
}

.comment-input {
  background: transparent;
  width: 80%;
  border: none;
  border-bottom: 2px solid black;
  margin: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: black;
}
.comment-input:focus {
  outline: none;
}

.article-domain{
  font-size: 1.2rem;
  margin: 1rem 0rem;
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 2rem;
}