.articles-main {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 20;
  background-image: url("../../images/img1.png");
  background-size: cover;
}

.slider {
  background-color: transparent;
  height: 110vh;
  padding-top: 10rem;
  /* background-image: url("../../images/img1.png"); */
  background-size: cover;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.all-heading {
  padding-left: 5rem;
  padding-top: 3rem;
}

.center-articles {
  margin: 0;
  font-weight: 600;
  vertical-align: middle;
}

.articles-header {
  text-align: center;
  color: rgb(0, 0, 255, 0.5);
  font-weight: 700;
  padding-bottom: 2rem;
}

#card-img {
  height: 130px;
  border-radius: 5px;
  width: 90%;
  margin-top: 1rem;
}
.title-a h2 {
  position: absolute;
  left: 50%;
  /* -webkit-transform: translateX(-50%); */
  transform: translateX(-50%);
  z-index: 100;
  font-family: "Philosopher", sans-serif;
  font-weight: 800;
}
.img-d {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#card-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0rem;
  font-family: "Philosopher", sans-serif;
}

.article-card-container {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0rem;
}
#all {
  background-color: black;
  background-image: url("../../images/img1.png");
  background-size: cover;
}
.card-by {
  color: rgb(100, 100, 100, 0.9);
  font-size: 0.8rem;
  text-align: right;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.card-duration {
  width: 40%;
  text-align: left;
  display: inline-block;
  color: rgb(60, 60, 60);
  margin-top: 0.5rem;
  font-size: 0.8rem;
  margin-left: -1rem;
}
.clock {
  margin: 0.2rem;
  margin-top: -0.5rem;
}

.card-date {
  margin-top: 0.5rem;

  width: 45%;
  display: inline-block;
  text-align: right;
  color: rgb(60, 60, 60);
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.card-content {
  text-align: left;
  margin: 0.5rem;
  font-size: 1rem;
  font-family: "Raleway", cursive;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
font-weight: normal;


}

.checkout-all {
  background-color: rgba(9, 9, 54, 0.9);
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.checkout-all:hover {
  transform: scale(1.05);
}

.button-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.article-card {
  background-color: rgba(8, 121, 121, 0.171);
  margin: 1.5rem 2rem;
  display: inline-block;
  width: 350px;
  border-radius: 25px;
  padding: 0.2rem;
  display: inline-block;
  height: 25rem;
  vertical-align: top;
  box-shadow: 4px 4px 7.5px rgba(9, 94, 87, 0.5);
  z-index: 5;
}

.card-category {
  margin-top: -0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Philosopher", sans-serif;
  font-weight: 900;
}
.main-title h2 {
  padding-top: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 520px) {
  .checkout-all {
    font-size: 1rem;
  }
  .article-card {
    width: 90%;
    height: 28rem;
  }
}

@media only screen and (max-width: 400px) {
  .article-card {
  }
}
