.single-comment-container {
  width: 94.5%;
  display: inline-block;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  margin-left: 20px;
}
.comment-box {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.c-b-c {
  background-color: rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 1rem;
}
.c-bg {
  background-image: url("../../images/img18.png");
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../images/img18.png");
  border-radius: 20px;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  /* min-height: 500px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.user-button-c {
  display: inline-block;
  vertical-align: top;
}
.user-button {
  background-color: rgba(8, 121, 121, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  margin-right: 1rem;
  color: white;
}
.comment-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(4, 61, 61);
}
.comment-user {
  display: inline-block;
  text-align: left;
  font-size: 1rem;
  margin: 0.5rem;
  margin-top: 0rem;
  margin-left: -0.5rem;
  border: none;
}
.comment-d {
  font-size: 0.7rem;
}
.comment-body {
  text-align: left;
  margin: 1rem;
}
.comment-image-container {
  text-align: left;
  width: 100%;
}

.container {
  width: 50%;
}
.form-text {
  width: 80%;
  border-radius: 5px;
  margin: 1rem;
  margin-left: 10%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  height: 5rem;
}
.tog-r {
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  margin-top: 0.5rem;
}

.comment-actions {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.action {
  display: inline-block;
  margin: 0rem 0.5rem;
  border: none;
  background: transparent;
}
.action:hover {
  cursor: pointer;
}
.action:focus {
  outline: none;
}

.info {
  font-size: 1.1rem;
  margin: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-button {
  font-size: 0.9rem;
  margin: 0.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  background-color: rgba(8, 121, 121, 0.9);
  color: white;
  font-weight: 600;
}
.comment-icon {
  margin-right: 0.5rem;
}


@media only screen and (max-width: 520px) {
  .comment-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(4, 61, 61);
  }
  .container{
    width: 95%;
  }
.comment-user {
font-size: 0.85rem;
}


.comment-d {
  font-size: 0.65rem;
}
.user-button {
  background-color: rgba(8, 121, 121, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  margin-right: 1rem;
  color: white;
  font-size: 0.9rem;
}

.comment-body{
  font-size: 0.9rem;
}
.form-text{
  margin-left: 5%;
  width: 90%;
}
.tog-r{
  font-size: 0.9rem;
}
}