@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');


#home-h {
  margin: 0;
}
.home-main2 {
  height: calc(100vh - 5rem);
  word-spacing: 1px;
  background-color: #bfe6ff;
  background-color: #ffc7a1;
}
.home-main {
  height: calc(100vh - 5rem);
  background-image: url("../../images/img1.png");
  background-size: cover;
}
.leftimage {
  position: absolute;
  top: 180px;
  height: 60%;
  left: -150px;
}
.rightimage {
  position: absolute;
  top: 190px;
  height: calc(60% - 25px);
  right: -150px;
}

.intro-title h1 {
  color: #31343c;
  font-weight: 800;
  text-align: center;
  font-size: 40px;
  z-index: 1;
  width: 100%;
  margin-top: 20rem;
  font-family: 'Philosopher', sans-serif;


}

.intro-line {
  font-size: 22px;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Norican', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', cursive;



}
.log-button {
  background: transparent;
  border: none;
  padding: 0.5rem;
  margin: 0rem 1rem;
  color: blue;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Philosopher', sans-serif;
}
.home-main {
}
.lineimage {
  top: 100px;
  left: 100px;
  width: 50%;
  position: absolute;
}

.circle {
  background: radial-gradient(#7dd9f9, #0065bb);
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  animation: x-axis 7s infinite ease-in-out;
}
.wrapper {
  position: absolute;
  top: 100px;
  left: 80px;
  animation: y-axis 2s infinite ease-in-out;
}
.home-logo{
  position: absolute;
  width: 14rem;
  left: 50%;
  transform: translate(-50%,20%);

}
@keyframes x-axis {
  50% {
    transform: translateX(1300px);
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(100px);
  }
}

.wrapper .circle:nth-child(2) {
  animation-delay: 0.1s;
}
.wrapper .circle:nth-child(3) {
  animation-delay: 0.2s;
}
.wrapper .circle:nth-child(4) {
  animation-delay: 0.3s;
}
.wrapper .circle:nth-child(5) {
  animation-delay: 0.4s;
}

.wrapper .circle:nth-child(6) {
  animation-delay: 3.5s;
}
.wrapper .circle:nth-child(7) {
  animation-delay: 3.6s;
}
.wrapper .circle:nth-child(8) {
  animation-delay: 3.7s;
}
.wrapper .circle:nth-child(9) {
  animation-delay: 3.8s;
}
.wrapper .circle:nth-child(10) {
  animation-delay: 3.9s;
}

@media only screen and (max-width: 1200px) {
  @keyframes x-axis {
    50% {
      transform: translateX(1000px);
    }
  }
}



@media only screen and (max-width: 1100px) {
  @keyframes x-axis {
    50% {
      transform: translateX(900px);
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes x-axis {
    50% {
      transform: translateX(800px);
    }
  }
}
@media only screen and (max-width: 960px) {
  /* @keyframes x-axis {
    50% {
      transform: translateX(1300%);
    }
  }
  @keyframes y-axis {
    50% {
      transform: translateY(100px);
    }
  } */

  .wrapper{
    visibility: hidden;
  }

  .leftimage {
    visibility: hidden;

  }
  .rightimage {
    visibility: hidden;
  }

  .home-main {
    height: auto;
  height: calc(100vh - 5rem);

  }
  
  .intro-title h1{
    font-size: 2rem;
  }
  .intro-line {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
}


@media only screen and (max-width: 620px) {


  .intro-title h1{
    width: 90%;
    margin-left: 5%;
    font-size: 1.6rem;
  margin-top: 20rem;

  }
  .intro-line {
    width: 90%;
    margin-left: 5%;

    font-size: 1rem;
    margin-top: 2rem;
  }
  .home-logo{
  position: absolute;
  width: 12rem;
  left: 50%;
  top: 15%;
  transform: translate(-50%,20%);
  z-index: 0;
}

}

@media only screen and (max-width: 420px) {


  .intro-title h1{
    font-size: 1.3rem;
  }
  .intro-line {
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  .home-logo{
    position: absolute;
    width: 10rem;
    left: 50%;
    top: 20%;
    transform: translate(-50%,20%);
  
  }
}