#home-h {
  margin: 0;
}
.home-main2 {
  height: calc(100vh - 5rem);
  word-spacing: 1px;
  background-color: #bfe6ff;
  background-color: #ffc7a1;
}
.home-main {
  height: calc(100vh - 5rem);
  background-image: url("../../images/img1.png");
  background-size: cover;
}
.leftimage {
  position: absolute;
  top: 180px;
  height: 60%;
  left: -150px;
}
.rightimage {
  position: absolute;
  top: 190px;
  height: calc(60% - 25px);
  right: -150px;
}

.intro-title h1 {
  color: #31343c;
  font-weight: 730;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-size: 40px;
  z-index: 1;
  width: 100%;
  margin-top: 20rem;
  margin-left: -2rem;
}

.intro-line {
  font-size: 18px;
  margin-top: 2rem;
  text-align: center;
}
.home-main {
}
.lineimage {
  top: 100px;
  left: 100px;
  width: 50%;
  position: absolute;
}

.circle {
  background: radial-gradient(#7dd9f9, #0065bb);
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  animation: x-axis 7s infinite ease-in-out;
}
.wrapper {
  position: absolute;
  top: 100px;
  left: 80px;
  animation: y-axis 2s infinite ease-in-out;
}

@keyframes x-axis {
  50% {
    transform: translateX(1300px);
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(100px);
  }
}

.wrapper .circle:nth-child(2) {
  animation-delay: 0.1s;
}
.wrapper .circle:nth-child(3) {
  animation-delay: 0.2s;
}
.wrapper .circle:nth-child(4) {
  animation-delay: 0.3s;
}
.wrapper .circle:nth-child(5) {
  animation-delay: 0.4s;
}

.wrapper .circle:nth-child(6) {
  animation-delay: 3.5s;
}
.wrapper .circle:nth-child(7) {
  animation-delay: 3.6s;
}
.wrapper .circle:nth-child(8) {
  animation-delay: 3.7s;
}
.wrapper .circle:nth-child(9) {
  animation-delay: 3.8s;
}
.wrapper .circle:nth-child(10) {
  animation-delay: 3.9s;
}

/*
.explore {
  padding: 0.5rem;
  width: 13rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  background-color: rgba(0, 0, 255, 0.6);
}
.home-img {
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .intro-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 960px) {
  .home-img {
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .home-main {
    height: auto;
  }
  .intro-title h1{
    font-size: 2rem;
  }
  .intro-line {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
}
@media only screen and (max-width: 620px) {
  .intro-title h1{
    font-size: 1.6rem;
  }
  .home-img {
    width: 100%;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
  }
  .intro-line {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }
  .explore{
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  
  }

}
@media only screen and (max-width: 520px) {
  .home-main{
    padding: 1.5rem;
    padding-top: 4rem;
    min-height: calc(100vh - 5rem);
  }
  .intro-title h1{
    font-size: 1.6rem;
  }
  .explore{
    font-size: 1rem;
    padding: 0.4rem;
    width: 8rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  
  }
.initials-container{
  z-index: 10;
}
} */
