.about-main {
  min-height: 100vh;
  background-color: #f2f3f6;
}

.main-content-container {
  padding-left: 5rem;
  padding-top: 3rem;
}

.main-title h2 {
  font-size: 35px;
  color: #31343c;
  font-weight: 800;
  font-family: 'Philosopher', sans-serif;
}

.main-text {
  font-size: 19px;
  width: 70%;
  margin-top: 1rem;
}

.explore2 {
  padding: 0.5rem;
  width: 9rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.main-carousel {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.item {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  width: 20rem;
  height: 22rem;
  margin: 2rem;
}

.item-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.item-about {
  font-size: 0.9rem;
  padding: 0.5rem;
}
.domain-link {
  color: black;
  text-decoration: none;
}
.domain-link:hover {
  color: black;
  text-decoration: none;
}
