

.aboutus-main {
  height: 100vh;
  word-spacing: 1px;
  padding: 5rem;
}


.aboutus-title h2 {
  font-size: 35px;
  color: #31343c;
  font-weight: 700;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
}

.aboutus-text {
  font-size: 19px;
}

.explore2 {
  padding: 0.5rem;
  width: 9rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 520px) {
  .aboutus-text {
    font-size: 1.1rem;
  }
  .aboutus-main {
    padding: 2rem;
    padding-top: 5rem;
}

.aboutus-title h2 {
font-size: 1.6rem;
margin-bottom: 1.2rem;
}
  
}

@media only screen and (max-width: 420px) {
  .aboutus-text {
    font-size: 1rem;
margin-bottom: 1.2rem;
    
  }

}
@media only screen and (max-width: 1200px) {
  
  .aboutus-main {
    justify-content: center;
    align-items: center;
  }
  
}