#domains-h {
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100%;
  margin-left: 0rem;
}

.domain-main {
  height: 100vh;

  justify-content: center;
  word-spacing: 1px;
  padding: 5rem;
  width: 100%;
  background-color: #8cd3ffc7;
  background-image: url("../../images/img1.png");
  background-size: cover;
}

.domain-title h2 {
  font-size: 35px;
  color: #31343c;
  font-weight: 800;
  text-align: center;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Philosopher", sans-serif;
}

.domain-text {
  font-size: 19px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Raleway", cursive;
}

.explore2 {
  padding: 0.5rem;
  width: 9rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.domain-carousel {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.item {
  /* background: linear-gradient(#45d0ca, #dea7dd); */
  background-color: rgba(129, 194, 191, 0.548);
  border-radius: 15px;
  box-shadow: 4px 10px 10px rgba(35, 58, 57, 0.959);
  padding: 1rem;
  width: 20rem;
  height: 22rem;
  margin: 2rem;
  display: block;
}

.item-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
}

.item-about {
  font-size: 0.9rem;
  padding: 0.5rem;
  font-family: "Raleway", cursive;
}
.domain-link {
  color: black;
  text-decoration: none;
}
.domain-link:hover {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .domain-text {
    width: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .domain-title h2 {
    font-size: 1.6rem;
  }
  .domain-text {
    font-size: 1rem;
  }
  .domain-main {
    padding: 5rem 1rem;
  }
}
@media only screen and (max-width: 520px) {
  .item {
    width: 16rem;
  }
}
