.sidebar-container {
  height: 100vh;
  position: absolute;
  width: 34rem;
  right: 0;
  top: 0;
  padding: 1rem;
  z-index: 1000;
  z-index: 5;
  background-color: white;
  transition: 2s;
  overflow-x: hidden;
  /* transform: translateX(100%); */
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}

.isopen {
  /* transform: translateX(0); */
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}
.content-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.upper-div {
  background-color: white;
  height: 30rem;
  width: 100%;
  padding: 0.5rem;
  display: block;
}

.cross {
  text-align: left;
  position: absolute;
  left: 10px;
  float: left;
  background: transparent;
  border: none;
}

.change-form {
  text-align: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
}
.change-form button {
  background-color: blue;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.welcome {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  margin: 1rem 0rem;
  margin-bottom: 3.5rem;
}

.form-label {
  color: rgb(12, 12, 12, 0.8);
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  margin-left: 10%;
}

.form-input {
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1.5px solid rgb(200, 200, 200, 0.936);
  margin-bottom: 1.6rem;
  margin-left: 5%;
  background: rgba(46, 167, 161, 0.329);
  box-shadow: 1px 2px 2px rgba(5, 82, 78, 0.884);
}

.submit-button {
  background: rgba(3, 88, 84, 0.534);
  color: white;
  font-weight: 600;
  width: 60%;
  height: 2.5rem;
  border: none;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgba(60, 63, 63, 0.884);
  margin-bottom: 1rem;
}
.submit-c {
  text-align: center;
  align-items: center;
}
.or {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  display: grid;
  line-height: 10px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 5px 0;
  grid-gap: 20px;
}

.or:after,
.or:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #9da19f98;
}

.contain-contact {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main-contact {
  width: 450px;
  background-color: rgba(148, 143, 171, 0.3);
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-left: calc(50% - 225px);
}

.input-contact {
  width: 90%;
  margin: 0.8rem;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid gray;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.8;
}

.heading {
  text-align: center;
  overflow-y: hidden;
  font-size: 2rem;
  overflow-y: hidden;
}
.heading,
.heading p,
.heading h1 {
  overflow-y: hidden;
}
.heading p {
  font-size: 1.5rem;
  overflow-y: hidden;
}

.form-contact {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 90%;
  margin-left: 5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  width: 90%;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid gray;
  padding: 0.5rem;
  margin: 0.8rem;
}
#submit {
  background-color: transparent;
  border: 1.5px solid red;
  transition: 0.5s;
}
#submit:hover {
  background-color: red;
  color: white;
}

.name {
  padding: 1.5rem;
}

.error {
  text-align: left;
  color: red;
  margin: 0rem;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}
.success {
  text-align: center;
  color: green;
  margin: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (max-width: 520px) {
  .main-contact {
    width: 360px;
    margin-left: calc(50% - 180px);
    margin-top: 70px;
  }
}
@media only screen and (max-width: 380px) {
  .main-contact {
    width: 340px;
    margin-left: calc(50% - 170px);
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1315px) {
  .main {
    justify-content: center;
    margin-top: 70px;
  }
}

.sidebar-container {
  background-color: white;
}
@media only screen and (max-width: 570px) {
  .sidebar-container {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .change-form,
  .success,
  .form-label,
  .submit-button {
    font-size: 0.9rem;
  }
  .welcome {
    font-size: 1.6rem;
  }
}
