
.contact-main {
  height: 100vh;
  display: flex;
  word-spacing: 1px;
  padding: 5rem;
  width: 100vw;
  background-image: url("../../images/img1.png");
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-top: 2rem;
}
.form-box {
  width: 25rem;
  border: 1px solid black;
  border: none;
  /* background-image: url('../../images/img8.png'); */
  background-color: rgb(134, 197, 201, 0.85);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 4px 4px 7px;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

.form-box textarea {
  margin: -0.2rem;
  margin-bottom: 1.5rem;
}
.contact-label {
  z-index: 5;
  font-size: 0.9rem;
  margin: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(3, 88, 84, 0.9);
  font-weight: 700;
}
.contact-input {
  width: 90%;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  font-size: 1em;
  padding: 0.2rem 1rem;
  color: white;
  margin-bottom: 1.7rem;
}

.contact-input:focus {
  outline: none;
}

.contact-submit {
  width: 90%;
  text-align: center;
  background-color: rgba(3, 88, 84, 0.8);
  color: white;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.3s;
  font-family: "Philosopher", sans-serif;
  font-size: 1.1rem;
}

.contact-submit:hover {
  transform: scale(1.05);
}

.bg-img {
  height: 100vh;
  display: flex;
  flex-direction: column;
  word-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url("../../images/img13.png");

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 70% 100%;
}

.main-title {
  margin-top: -5rem;
  margin-bottom: 1.5rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  .contact-img-content {
    display: none;
  }

  .main-title h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 920px) {
  .bg-img {
    height: 60vw;
  }
  .form-box {
    background-color: rgb(134, 197, 201, 0.9);
  }
}
@media only screen and (max-width: 520px) {
  .form-box {
    width: 22rem;
  }
}

@media only screen and (max-width: 380px) {
  .form-box {
    width: 20rem;
  }
}
