/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.article-heading {
  color: black;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.article-card {
  width: 32rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 3rem;

  display: inline-block;
  transition: 0.5s;
}

.article-card:hover {
}

.card-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-img {
  height: 15rem;
  border-radius: 1px;
  opacity: 1;
}
.card-title {
  font-size: 1.8rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 900;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.time {
  color: black;
  font-size: 1rem;
  text-align: right;
  padding-right: 1.5rem;
  font-family: "Inter", sans-serif;
}
.clock {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  margin-bottom: -0.2rem;
}
.card-text {
  color: black;
  text-align: left;
  font-size: 0.9rem;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
} */

.main-title h2 {
  padding-top: 5rem;
}
#all {
  padding-top: 10rem;
}

.main-c {
  width: 60%;
  margin-left: 20%;
  padding-top: 10rem;
  text-align: left;
}

.explore-video {
  width: 40%;
  height: auto;
  margin-top: 2rem;
}

.article-h2 h3 {
  text-align: center;
  margin-top: 2rem;
  font-family: "Philosopher", sans-serif;
}

.main-c h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 1.75rem;
}

.main-c p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-c p {
  font-family: "Raleway", cursive;
  font-size: 0.9rem;
}
