.main-title h2 {
  padding-top: 5rem;
}
#all {
  padding-top: 10rem;
}

.main-c {
  width: 100%;

  text-align: left;
  padding: 7rem;
  padding-top: 11rem;
}

.explore-video {
  width: 50%;
  height: 350px;
  margin-top: 2rem;
}
.article-h2 h3 {
  text-align: center;
  margin-top: 2rem;
  font-family: "Philosopher", sans-serif;
  margin-bottom: 1rem;
}

.main-c h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom:1rem;
}

.main-c p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-c p {
  font-family: "Raleway", cursive;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-style: italic;

}

.details-img{
  width: 30%;
  margin: 1rem;
  border-radius: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 15rem;
  margin-bottom: 3.5rem;
  
}

@media only screen and (max-width: 900px) {
  .explore-video {
    height: 250px;
  }
}

@media only screen and (max-width: 620px) {
  .main-c {
    width: 90vw;
    margin-left: 5vw;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .details-img{
    width: 50vw;
    height: 30vw;
    }

  .explore-video {
    width: 80vw;
    height: 45vw;
  }
  /* .main-c h2{
    width: 100%;
  }
  .main-c p{
    width: 90vw;
  } */
}

@media only screen and (max-width: 520px) {
  .main-c h2 {
    font-size: 1.25rem;
  }
  .main-c p {
    font-size: 0.8rem;
  }
  .main-title h2 {
    font-size: 1.5rem;
    width: 100vw;
    padding: 1rem;
    padding-top: 6rem;
  }

}
