
.main-title h2 {
  padding-top: 5rem;
}
#all {
  padding-top: 10rem;
}

.main-c {
  width: 100%;

  text-align: left;
  padding: 7rem;
  padding-top: 11rem;
}

.explore-video {
  width: 50%;
  height: 350px;
  margin-top: 2rem;
}
.article-h2 h3 {
  text-align: center;
  margin-top: 2rem;
  font-family: "Philosopher", sans-serif;
}

.main-c h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 1.75rem;
}

.main-c p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-c p {
  font-family: "Raleway", cursive;
  font-size: 0.9rem;
}

@media only screen and (max-width: 900px) {
  .explore-video {
    height: 250px;
  }
}

@media only screen and (max-width: 620px) {
  .main-c {
    width: 90%;
    margin-left: 5%;
  }

  .explore-video {
    width: 80vw;
    height: 45vw;
  }
}

@media only screen and (max-width: 520px) {
  .main-c h2 {
    font-size: 1.25rem;
  }
  .main-c p {
    font-size: 0.8rem;
  }}