.footer-main {

  width: 100vw;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-image: url("../../images/img1.png");
  background-size: 100% 100%;
  /* font-weight: 600; */
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* background-color: rgb(16, 137, 218); */
}

@media only screen and (max-width: 480px) {
  .footer-main{
    font-size: 0.7rem;
  }
}