@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital@1&display=swap');


.personality-main {
  min-height: 100vh;

  justify-content: center;
  word-spacing: 1px;
  padding: 5rem;
  width: 100%;
  background-color: #8cd3ffc7;
  background-image: url("../../images/img1.png");
  background-size: cover;
}
.personality-main h1 {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 4rem;
  margin-top: -2rem;
}
.personality-main h2 {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.ans-btn {
  margin: 0.5rem 1.75rem;
  padding: 0.5rem 1rem;
  border: none;
  /* background-color: rgba(0, 255, 255, 0.452); */
  background: transparent;
  font-size: 2rem;
  transition: 0.5s;
 
}

.question-c {
  text-align: center;
  margin: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 0.5rem;
  padding-top: 1rem;
  width: max-content;
  box-shadow: 5px 5px 5px rgb(100, 100, 100, 0.9);
}

.question-title {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-style: italic;
font-weight: normal;
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* font-style: italic; */
  margin-bottom: 0.8rem;
}

.key-inst{
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-style: italic;
font-weight: normal;
margin: 1rem;
margin-top: 2rem;
text-align: center;
font-size: 1.1rem;

}
.pt-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  border-radius: 40px;
  font-size: 1.25rem;
  background-color: rgba(3, 88, 84, 0.8);
  font-family: "Philosopher", sans-serif;

  color: white;
  font-weight: 700;
  border: none;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
}
.pt-btn:hover {
  cursor: pointer;
}

.right {
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.res-cont {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.res-card {
  width: 400px;
  background-color: rgba(18, 155, 132, 0.4);
  border-radius: 10px;
  padding: 1rem;
  align-items: top;
  justify-content: center;
  display: inline-block;
  margin: 1rem;
  height: 400px;
  align-self: top;
  vertical-align: top;
}

.res-h {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.a {
  color: rgb(29, 8, 79);
}

.bar-c {
  width: 125px;
  height: 125px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.res-h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
  margin-top: -2rem;
}

.res-h2 {
  font-size: 1.5rem;
  text-align: left;
  font-family: "Philosopher", sans-serif;
}

.res-h3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
  margin-top: -2.5rem;
}
.ans-btn:hover {
  transform: scale(1.3);
}

.label-btn {
  background-color: rgba(11, 94, 80, 0.9);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  margin-top: 2rem;
  background-color: #403c75;
  font-size: 1.2rem;
  /* transition: 0.5s; */
}
.label-btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: black;
}

.label-c h1 {
  font-size: 1.5rem;
}

.label-c {
  width: 50%;
  background-color: rgba(218, 32, 193, 0.637);
  background-color: #9894cf8c;
  margin-left: 25%;
  padding: 2rem;
  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  /* color: white; */
}

.label-c .ul1 {
  margin-top: -3rem;
}

.label-c .p1 {
  margin-top: -2rem;
}

.label-c h2 {
  margin-top: 2.5rem;
}

.res-h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.key-box {
  position: fixed;
  background-color: rgb(255, 255, 255, 0.5);
  width: 15rem;
  left: 10px;
  border-radius: 10px;
  top: 50%;
  transform: translateY(calc(-50% + 40px));
  box-shadow: 5px 5px 5px rgb(100, 100, 100, 0.7);
}
.key-h {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(200, 200, 200, 0.4);
}

.key-div {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
font-weight: normal;

  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  
  /* font-style: italic; */


  padding: 1rem 0rem;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-top: 0;
}
.card-1 {
  background-color: rgba(31, 134, 126, 0.33);
  border-radius: 10px;
  display: inline-block;
  padding: 0.5rem;
  font-family: "Philosopher", sans-serif;
  margin-bottom: 0.5rem;
  width: 250px;
  text-align: center;
}
.cardss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.c-1-h {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.long-card {
  width: 80%;
  margin: 3.5rem;
  margin-left: 10%;
  background-color: rgba(31, 134, 126, 0.33);
  padding: 1rem;
  border-radius: 10px;
}

.lc-h {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.lc-c {
  font-size: 1rem;
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0rem 1rem;
  font-style: italic;
  font-weight: normal;
  

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.5);
}

.key-res-2 {
  width: 50vw;
  background-color: rgb(64, 255, 255);
  background-color: rgb(7, 73, 53, 0.4);
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  /* visibility: hidden; */
  display: none;
  /* margin-left: 50%; */
  transform: translateX(calc(-50% + 10px));
  margin-left: 50%;
  padding-top: 0.5rem;
}

#pan {
  background-color: #444;
  background-color: rgb(255, 255, 255, 0.5);
  background-color: transparent;
}
.lc1 {
  width: 60%;
  margin-left: -80px;
}
.lc2 {
  width: 60%;
  margin-left: calc(40% + 80px);
}

.c1 {
  background-color: #745074;
  background-color: #cbaacbb7;
}

.c2 {
  background-color: #ad826c;
  background-color: #fed7c3b7;
}

.c3 {
  background-color: #627962;
  background-color: #b6cfb6;
}

.c4 {
  background-color: #96965a;

  background-color: #ffffb5b7;
}

.c5 {
  background-color: #58868d;
  background-color: #abdee6;
}

.c1,
.c2,
.c3,
.c4,
.c5 {
  box-shadow: 5px 5px 5px rgb(100, 100, 100, 0.9);
}

.label-img {
  width: 60%;
  margin: 2rem 0rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -2rem;
}
.wait{
  font-size: 1.3rem;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
  font-style: italic;
  font-weight: normal;
  padding-top: 1.5rem;
  text-align: center;

}

#results{
  /* margin-top: 3em; */
}
@media only screen and (max-width: 1150px) {
  .key-box {
    visibility: hidden;
  }
  .key-res-2 {
    visibility: visible;
    display: block;
  }
}

@media only screen and (max-width: 740px) {
  .key-res-2 {
    width: 90vw;
    margin-left: 48%;
  }
}

@media only screen and (max-width: 740px) {
  .question-c {
    width: 95vw;
  }
  .ans-btn {
    margin: auto;
  }
  .wait{
    font-size: 1rem;
    width: 100%;
    }
}

@media only screen and (max-width: 520px) {
  .personality-main h1 {
    font-size: 1.75rem;
  }
  .personality-main h2 {
    font-size: 1rem;
  }
  .card-1 {
    display: block;
    /* width: 1000px; */
    margin: 1rem 0rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .cardss {
    display: block;
  }
  #results {
    font-size: 6vw;
  }
  #res2 {
    font-size: 5vw;
  }
  .long-card,
  .lc1,
  .lc2 {
    width: 90vw;
    /* margin-left: 5vw; */
    margin-left: calc(5vw - 80px);
  }
  .label-c {
    width: 90vw;
    margin-left: calc(5vw - 80px);
  }
  .res-h2 {
    font-size: 6vw;
  }
  .res-h3 {
    font-size: 5vw;
  }
  .label-btn {
    font-size: 3.5vw;
    width: 60vw;
  }
  .key-inst{
    font-size: 0.9rem;
  }

}
@media only screen and (max-width: 480px) {
  .ans-btn {
    font-size: 1.6rem;
  }
  .question-title {
    font-size: 1rem;
  }
  .pt-btn {
    width: 10rem;
    font-size: 1rem;
  }
  .right {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .ans-btn {
    font-size: 1.3rem;
  }
  .question-c {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
}
